.gka-wrap {
    width: 400px;
    height: 300px;
}

.gka-base {
   
    background-repeat: no-repeat;
    background-position: center center;
    
    /* background-size: contain;*/
    
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    
    animation-timing-function: steps(1);

    /* 只播放一次，播放停止到最后一帧*/
    /* animation-iteration-count: 1; */ 
}

.animation {
    animation-name: keyframes;
    animation-duration: 0.8s;
}

@-webkit-keyframes keyframes {
    0% {
        width: 238px;
        height: 239px;
        transform: translate(94px, 41px);
        background-image: url("img/a01.png");
    }

    5.00% {
        width: 177px;
        height: 245px;
        transform: translate(147px, 35px);
        background-image: url("img/a02.png");
    }

    10.00% {
        width: 169px;
        height: 238px;
        transform: translate(155px, 42px);
        background-image: url("img/a03.png");
    }

    15.00% {
        width: 188px;
        height: 206px;
        transform: translate(136px, 75px);
        background-image: url("img/a04.png");
    }

    20.00% {
        width: 233px;
        height: 164px;
        transform: translate(91px, 120px);
        background-image: url("img/a05.png");
    }

    25.00% {
        width: 212px;
        height: 225px;
        transform: translate(112px, 58px);
        background-image: url("img/a06.png");
    }

    30.00% {
        width: 172px;
        height: 238px;
        transform: translate(152px, 45px);
        background-image: url("img/a07.png");
    }

    35.00% {
        width: 231px;
        height: 245px;
        transform: translate(93px, 40px);
        background-image: url("img/a08.png");
    }

    40.00% {
        width: 246px;
        height: 232px;
        transform: translate(78px, 51px);
        background-image: url("img/a09.png");
    }

    45.00% {
        width: 225px;
        height: 230px;
        transform: translate(99px, 50px);
        background-image: url("img/a10.png");
    }

    50.00% {
        width: 202px;
        height: 250px;
        transform: translate(122px, 30px);
        background-image: url("img/a11.png");
    }

    55.00% {
        width: 200px;
        height: 243px;
        transform: translate(124px, 37px);
        background-image: url("img/a12.png");
    }

    60.00% {
        width: 199px;
        height: 256px;
        transform: translate(125px, 24px);
        background-image: url("img/a13.png");
    }

    65.00% {
        width: 215px;
        height: 241px;
        transform: translate(109px, 39px);
        background-image: url("img/a14.png");
    }

    70.00% {
        width: 189px;
        height: 219px;
        transform: translate(135px, 61px);
        background-image: url("img/a15.png");
    }

    75.00% {
        width: 227px;
        height: 213px;
        transform: translate(97px, 67px);
        background-image: url("img/a16.png");
    }

    80.00% {
        width: 208px;
        height: 174px;
        transform: translate(116px, 106px);
        background-image: url("img/a17.png");
    }

    85.00% {
        width: 175px;
        height: 197px;
        transform: translate(149px, 83px);
        background-image: url("img/a18.png");
    }

    90.00% {
        width: 178px;
        height: 222px;
        transform: translate(146px, 58px);
        background-image: url("img/a19.png");
    }

    95.00% {
        width: 178px;
        height: 236px;
        transform: translate(146px, 44px);
        background-image: url("img/a20.png");
    }

    100% {
        width: 178px;
        height: 236px;
        transform: translate(146px, 44px);
        background-image: url("img/a20.png");
    }
}
